{% extends "base.html" %}

{% import "relative.html" as relative %}

{% block content %}
<header class="profile">
  {% if photo is defined %}
  <img src="johndoe.jpg" alt="John Doe">
  {% endif %}
  <div class="profile-details">
    <h1>
      {% if name is defined %}
      {{name.full}}
      {% else %}
      NN
      {% endif %}
    </h1>
    {% if birth_date is defined %}
    <p title="{% trans %}PERSON-DETAILS_PROFILE_DATE-OF-BIRTH-SYMBOL-TOOLTIP{% endtrans %}">
      * <strong>{{birth_date}}</strong>
    </p>
    {% endif %}
    {% if death_date is defined %}
    <p title="{% trans %}PERSON-DETAILS_PROFILE_DATE-OF-DEATH-SYMBOL-TOOLTIP{% endtrans %}">
      † <strong>{{death_date}}</strong>
    </p>
    {% endif %}
    <!-- <p>Occupation: <strong>Farmer</strong></p> -->
    <!-- <p>Location: <strong>Springfield, USA</strong></p> -->
  </div>
</header>

<section class="section family-tree">
  <h2>{% trans %}PERSON-DETAILS_FAMILY-TREE_SECTION-TITLE{% endtrans %}</h2>
  <ul>
    {% if father is defined %}
    <li>{% trans %}PERSON-DETAILS_FAMILY-TREE_FATHER-CAPTION{% endtrans %}: {{ relative.person(config, father) }}</li>
    {% endif %}
    {% if mother is defined %}
    <li>{% trans %}PERSON-DETAILS_FAMILY-TREE_MOTHER-CAPTION{% endtrans %}: {{ relative.person(config, mother) }}</li>
    {% endif %}
    {% for partner in partners %}
    <li>{% trans %}PERSON-DETAILS_FAMILY-TREE_PARTNER-CAPTION{% endtrans %}: {{ relative.person(config, partner) }}</li>
    {% if partner.children is defined %}
    <li>
      <ul>
        <li>{% trans %}PERSON-DETAILS_FAMILY-TREE_CHILDREN-CAPTION{% endtrans %}:</li>
        {% for child in partner.children %}
        <li>{{ relative.person(config, child) }}</li>
        {% endfor %}
      </ul>
    </li>
    {% endif %}
    {% endfor %}
    {% if children is defined %}
    <li>Children of Unknown Partner(s):
      <ul>
        {% for child in children %}
        <li>{{ relative.person(config, child) }}</li>
        {% endfor %}
      </ul>
    </li>
    {% endif %}
  </ul>
</section>

{% if notes %}
<section class="section family-tree">
  <h2>{% trans %}PERSON-DETAILS_NOTES_SECTION-TITLE{% endtrans %}</h2>
  <ul>
    {% for note in notes %}
    <li>{{ render_note(note) }}</li>
    {% endfor %}
  </ul>
</section>
{% endif %}
{% endblock %}
